<app-navbar></app-navbar>

<div class="container container-fluid">
    <div class="card mt-4">
        <div class="card-tittle">
            <h5 class="mt-5 h5-responsive font-weight-bold text-center">By the way, everything in life is writable about if you have the outgoing guts to do it, <br> and the imagination to improvise. <br> The worst enemy to creativity is self-doubt.”<br>Enjoy some inspirational quotes and feel free to create your
                own. </h5>
        </div>
        <div class="card-body">
            <app-quotes></app-quotes>
        </div>
    </div>
</div>