<app-navbar></app-navbar>
<!-- <h1 class="mt-2 ml-2 text-center">My Quotes:</h1> -->
<h5 class="mt-5 h5-responsive font-weight-bold text-center">By the way, everything in life is writable about if you have the outgoing guts to do it, <br> and the imagination to improvise. <br> The worst enemy to creativity is self-doubt.”<br>Enjoy some inspirational quotes and feel free to create your own. </h5>

<!-- Display available quotes and a form to add a new quote -->

<div class="container container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card mt-4" id="available-quotes">
                <div class="card-tittle">
                    <h3 class="text-center">My Quotes:</h3>
                </div>
                <div class="card-body">
                    <app-quotes></app-quotes>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mt-4">
                <div class="card-tittle">
                    <h2 class="text-center">Create quote:</h2>
                </div>
                <div class="card-body">
                    <p>Form for entering a new quote!</p>
                </div>
            </div>
        </div>
    </div>
</div>